* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

h1, h2, h3 {
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	font-size: 1.5rem;
	text-align: center;
}

h2 {
	font-size: 1.4rem;
	padding-bottom: 3%;
}

p {
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 4%;
}

/* ********** HEADER ********** */
header {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 76px;
	width: 100%;
}

.logo img {
	width: 120px;
	padding-top: 5%;
}

.menu {
	font-family: 'Open Sans', sans-serif;
}

.desktop-menu {
	display: none;
}

/* ********** HAMBURGER MENU ********** */
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:7px 15px 0px 15px;
  color:#f7d32c;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:16px 15px 0px 15px;
  color:#f7d32c;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{
	z-index:1000000;
	font-weight:bold;
	font-size:0.8em;
	width:100%;
	background:#5f4b7a;
	position:absolute;
	text-align:center;
	font-size:12px;
}
.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}
.menu li {
	display: block;
	padding:25px 0 25px 0;
	border-bottom:#5b4375 1px solid;
}
.menu li:hover{
	display: block;
	background:#5f4b7a;
	padding:25px 0 25px 0;
	border-bottom:#5b4375 1px solid;
}
.menu ul li a {
	text-decoration:none;
	text-transform: uppercase;
	margin: 0px;
	color:#fff;
}
.menu ul li a:hover {
	color: #fff;
	text-decoration:none;
}
.menu a{
	text-decoration:none;
	color:#666;
}
.menu a:hover{
	text-decoration:none;
	color:#666;
}

/* ********** HOMEPAGE ********** */

.home {
	background-image: url("../images/hollywoo-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	justify-content: center;
}

main {
	align-self: center;
	padding-top: 7%;
}

/* speech bubble https://leaverou.github.io/bubbly/ */
.speech-bubble {
	position: relative;
	background: #f7d32c;
	border-radius: .4em;
	width: 60%;
	padding: 5%;
	margin: 5% auto 10% 10%;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 24px solid transparent;
	border-top-color: #f7d32c;
	border-bottom: 0;
	border-right: 0;
	margin-left: -12px;
	margin-bottom: -24px;
}

.home-bojack img {
	width: 40%;
}

.home main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-end;
}

.home h1 {
    padding-bottom: 3%;
}

.home-bojack {
	align-self: flex-end;
	padding-top: 15px;
}

/* ********** BIOGRAPHY ********** */

.container {
	padding: 0 5% 20%;
}

.bio {
	background-image: url("../images/house.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.bio-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.bio-img {
	width: 60%;
	display: flex;
	align-items: flex-end;
}

.bio-img img {
	width: 100%;
}

.bio h1 {
	background-color: #5f4b7a;
	color: #fff;
	padding: 5%;
	width: 100%;
}

.bio-content {
	width: 100%;
	text-align: center;
}

.bio-content article {
	margin: 10% 0;
	text-align: center;
}

.bio-top {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.button {
	padding: 10px;
	background-color: #f7d32c;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	color: #000;
	margin-top: 5%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	animation-name: colorchange;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes colorchange {
	0% {
	background-color: #f7d32c;
  }
  50% {
	 background-color: #20163c;
	 color: #fff;
  }
	100% {
		background-color: #f7d32c;
		color: #000;
	}
}


/* ********** CAREER ********** */

.career {
	background-image: url("../images/background-set.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.career .container {
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 5%;
}

.timeline h2 {
	padding: 2px 0;
	font-size: 1.4rem;
}

.timeline p {
	font-size: 0.8rem;
}

.timeline h3 {
	font-size: 1rem;
}

.timeline hr {
    margin: 10px 0 15px 0;
}

/* ********** FRIENDS ********** */

.friends {
	background-image: url("../images/house-gate.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
}

.friends h1 {
	padding-bottom: 2%;
}

.friends-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 5%;
}

.friends-container figure {
	width: 100%;
	padding-bottom: 10%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.friend-img {
	width: 100%;
}

.friend-img img {
	width: 50%;
}

.friends-container figcaption {
	font-family: 'Ubuntu', sans-serif;
	background-color: #5f4b7a;
	color: #fff;
	padding: 3%;
	width: fit-content;
}

.friends-container figcaption:hover {
	background-color: #20163c;
}

.bubble-hide {
	display: none;
}

.jBox-container {
	width: 270px;
	background-color: #f7d32c;
	font-family: 'Open Sans', sans-serif;
}

.jBox-pointer-bottom:after {
	background-color: #f7d32c;
}

.text-box {
	padding: 7% 5%;
	background-color: #1f153cb3;
	color: #fff;
	text-align: left;
}



/* ********** START MIN WIDTH 600PX ********** */
@media (min-width: 600px) {
	p {
		font-size: 1.2rem;
	}

	.speech-bubble:after {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		width: 0;
		height: 0;
		border: 24px solid transparent;
		border-right-color: #f7d32c;
		border-left: 0;
		border-bottom: 0;
		margin-top: -12px;
		margin-left: -24px;
	}

	.home main {
		flex-direction: row-reverse;
		flex-wrap: nowrap;
	}

	.speech-bubble {
    margin-top: 15%;
    margin-left: 10%;
	}

	.home-bojack img {
    width: 70%;
	}

	.ground {
		height: 20%;
		background-color: #20163c;
		width: 100%;
		position: fixed;
		align-self: flex-end;
		z-index: -1;
	}

	.home main {
    align-content: flex-end;
	}

	.bio-img {
    width: 40%;
	}

	.bio-content article {
    margin: 5% 0;
	}

	.friends-container figure {
		width: 50%;
	}

	.friend-img img {
    width: 60%;
	}
}
/* ********** END MIN WIDTH 600PX ********** */


/* ********** START MIN WIDTH 800PX ********** */
@media (min-width: 800px) {
	.menu, .hamburger, .cross {
		display: none;
	}

	.home {
		flex-wrap: nowrap;
	}

	header {
		align-items: center;
		height: 100%;
	  width: 25%; /* Set the width of the sidebar */
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  left: 0;
	  background-color: #5f4b7a;
	  overflow-x: hidden; /* Disable horizontal scroll */
		font-family: 'Ubuntu', sans-serif;
		display: flex;
		align-content: flex-start;
		padding: 30px 0;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	}

	.logo {
		padding: 10% 0;
	}

	.desktop-menu {
		display: block;
		width: 100%;
	}

	.desktop-menu ul li {
		list-style-type: none;
		border-bottom: #20163c 1px solid;
	}

	.desktop-menu ul li:first-child {
		border-top :#20163c 1px solid;
	}

	.desktop-menu ul li a {
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		padding: 25px 0;
		display: block;
		text-align: center;
	}

	/* Grow https://ianlunn.github.io/Hover/  */
	.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
	}

	.hvr-grow:hover,
	.hvr-grow:focus,
	.hvr-grow:active {
	  transform: scale(1.3);
	}

	/* Rectangle Out https://ianlunn.github.io/Hover/ */
	.hvr-rectangle-out {
	  display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: perspective(1px) translateZ(0);
	  transform: perspective(1px) translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  position: relative;
	  background: #5f4b7a;
	  -webkit-transition-property: color;
	  transition-property: color;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	}
	.hvr-rectangle-out:before {
	  content: "";
	  position: absolute;
	  z-index: -1;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: #20163c;
	  -webkit-transform: scale(0);
	  transform: scale(0);
	  -webkit-transition-property: transform;
	  transition-property: transform;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-timing-function: ease-out;
	  transition-timing-function: ease-out;
	}
	.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
	  color: white;
	}
	.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}

	/* Home main */
	.home main {
		width: 75%;
		margin-left: 25%;
		height: 100%;
		align-content: center;
		padding-top: 0;
	}

	.home-bojack img {
    height: 65%;
	}

	.home main {
		height: 80%;
	}

	.speech-bubble {
    margin: 0 5% 35% 15%;
	}

	.text-right {
		align-self: center;
	}

	.container {
		width: 75%;
		margin-left: 25%;
		padding-top: 5%;
	}

	.bio h1 {
		height: fit-content;
	}

	.timeline p {
		font-size: 1rem;
	}

	.timeline h3 {
		font-size: 1.3rem;
	}
}
/* ********** END MIN WIDTH 800PX ********** */


/* ********** START MIN WIDTH 1000PX ********** */
@media (min-width: 1000px) {
	p {
		padding-bottom: 2%;
	}

	.home-bojack img {
    width: 65%;
	}

	.speech-bubble {
    margin: 0 5% 35% 5%;
	}

	.bio-container {
		max-width: 720px;
	}

	.container {
		display: flex;
		justify-content: center;
	}

	.bio-img {
		width: 35%;
	}

	.bio h1 {
    padding: 3.5%;
	}

	.bio-content article {
    margin: 3% 0 4%;
	}

	.friends .container {
		flex-wrap: wrap;
	}
}
/* ********** END MIN WIDTH 1000PX ********** */


/* ********** START MIN WIDTH 1440PX ********** */
@media (min-width: 1440px) {
	.logo img {
		width: 180px;
	}

	.home-bojack {
    padding-right: 3%;
	}

	.friends-container figure {
		width: 33.33333%;
	}

	.friend-img img {
		width: 70%;
	}

	.max-width {
		max-width: 930px;
	}

	.text-box {
    padding: 5%;
	}
}
/* ********** END MIN WIDTH 1440PX ********** */
