* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

h1, h2, h3 {
	font-family: 'Ubuntu', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}

/* ********** HEADER ********** */
header {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 76px;
	width: 100%;
}

.logo img {
	width: 120px;
	padding-top: 5%;
}

.menu {
	font-family: 'Open Sans', sans-serif;
}

.desktop-menu {
	display: none;
}

/* ********** HAMBURGER MENU ********** */
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:7px 15px 0px 15px;
  color:#f7d32c;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:16px 15px 0px 15px;
  color:#f7d32c;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{
	z-index:1000000;
	font-weight:bold;
	font-size:0.8em;
	width:100%;
	background:#5f4b7a;
	position:absolute;
	text-align:center;
	font-size:12px;
}
.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}
.menu li {
	display: block;
	padding:25px 0 25px 0;
	border-bottom:#5b4375 1px solid;
}
.menu li:hover{
	display: block;
	background:#5f4b7a;
	padding:25px 0 25px 0;
	border-bottom:#5b4375 1px solid;
}
.menu ul li a {
	text-decoration:none;
	text-transform: uppercase;
	margin: 0px;
	color:#fff;
}
.menu ul li a:hover {
	color: #fff;
	text-decoration:none;
}
.menu a{
	text-decoration:none;
	color:#666;
}
.menu a:hover{
	text-decoration:none;
	color:#666;
}

/* ********** HOMEPAGE ********** */

.home {
	background-image: url("images/hollywoo-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	justify-content: center;
}

main {
	align-self: center;
	padding-top: 7%;
}

/* speech bubble https://leaverou.github.io/bubbly/ */
.speech-bubble {
	position: relative;
	background: #f7d32c;
	border-radius: .4em;
	width: 60%;
	padding: 5%;
	margin: 5% auto 10% 10%;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 24px solid transparent;
	border-top-color: #f7d32c;
	border-bottom: 0;
	border-right: 0;
	margin-left: -12px;
	margin-bottom: -24px;
}

.home-bojack img {
	width: 40%;
}

.home main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-end;
}

.home h1 {
    padding-bottom: 3%;
    font-size: 1.5rem;
}

.home-bojack {
	align-self: flex-end;
	padding-top: 15px;
}


/* ********** START MIN WIDTH 600PX ********** */
@media (min-width: 600px) {
	p {
		font-size: 1.2rem;
	}

	.speech-bubble:after {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		width: 0;
		height: 0;
		border: 24px solid transparent;
		border-right-color: #f7d32c;
		border-left: 0;
		border-bottom: 0;
		margin-top: -12px;
		margin-left: -24px;
	}

	.home main {
		flex-direction: row-reverse;
		flex-wrap: nowrap;
	}

	.speech-bubble {
    margin-top: 15%;
    margin-left: 10%;
	}

	.home-bojack img {
    width: 70%;
	}

	.ground {
		height: 20%;
		background-color: #20163c;
		width: 100%;
		position: fixed;
		align-self: flex-end;
		z-index: -1;
	}

	.home main {
    align-content: flex-end;
	}
}
/* ********** END MIN WIDTH 600PX ********** */


/* ********** START MIN WIDTH 800PX ********** */
@media (min-width: 800px) {
	.menu, .hamburger, .cross {
		display: none;
	}

	.home {
		flex-wrap: nowrap;
	}

	header {
		align-items: center;
		height: 100%;
	  width: 25%; /* Set the width of the sidebar */
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  left: 0;
	  background-color: #5f4b7a;
	  overflow-x: hidden; /* Disable horizontal scroll */
		font-family: 'Ubuntu', sans-serif;
		display: flex;
		align-content: flex-start;
		padding: 30px 0;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	}

	.logo {
		padding: 10% 0;
	}

	.desktop-menu {
		display: block;
		width: 100%;
	}

	.desktop-menu ul li {
		list-style-type: none;
		border-bottom: #20163c 1px solid;
	}

	.desktop-menu ul li:first-child {
		border-top :#20163c 1px solid;
	}

	.desktop-menu ul li a {
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		padding: 25px 0;
		display: block;
	}

	/* Grow https://ianlunn.github.io/Hover/  */
	.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
	}

	.hvr-grow:hover,
	.hvr-grow:focus,
	.hvr-grow:active {
	  transform: scale(1.3);
	}

	/* Rectangle Out https://ianlunn.github.io/Hover/ */
	.hvr-rectangle-out {
	  display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: perspective(1px) translateZ(0);
	  transform: perspective(1px) translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  position: relative;
	  background: #5f4b7a;
	  -webkit-transition-property: color;
	  transition-property: color;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	}
	.hvr-rectangle-out:before {
	  content: "";
	  position: absolute;
	  z-index: -1;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: #5b4375;
	  -webkit-transform: scale(0);
	  transform: scale(0);
	  -webkit-transition-property: transform;
	  transition-property: transform;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-timing-function: ease-out;
	  transition-timing-function: ease-out;
	}
	.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
	  color: white;
	}
	.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}

	/* Home main */
	.home main {
		width: 75%;
		margin-left: 25%;
		height: 100%;
		align-content: center;
		padding-top: 0;
	}

	.home-bojack img {
    height: 65%;
	}

	.home main {
		height: 80%;
	}

	.speech-bubble {
    margin: 0 5% 35% 15%;
	}

	.text-right {
		align-self: center;
	}
}
/* ********** END MIN WIDTH 800PX ********** */


/* ********** START MIN WIDTH 1000PX ********** */
@media (min-width: 1000px) {
	.home-bojack img {
    width: 65%;
	}

	.speech-bubble {
    margin: 0 5% 35% 5%;
	}
}
/* ********** END MIN WIDTH 1000PX ********** */


/* ********** START MIN WIDTH 1440PX ********** */
@media (min-width: 1440px) {
	.logo img {
		width: 180px;
	}

	.home-bojack {
    padding-right: 3%;
	}

	/* .ground {
		height: 20%;
		background-color: #20163c;
		width: 100%;
		position: fixed;
		align-self: flex-end;
		z-index: -1;
	}

	.home main {
		height: 80%;
    align-content: flex-end;
	} */

}
/* ********** END MIN WIDTH 1440PX ********** */
